In [11]:
import innit as inn
import pandas as pd
import numpy as np
import Sphere as sp
import imp
imp.reload(inn);
imp.reload(sp);
import time

In [94]:
pop = inn.initialize(20,20)

In [22]:
pp = np.array(pop.genes)''

In [27]:
type(pp[0])

str

In [55]:
r = np.array(pop['fitness'])
np.sort(r)[::-1]

array([15, 14, 14, 13, 13, 13, 12, 11, 11, 11, 10, 10, 10, 10,  9,  9,  9,
        8,  7,  6])

In [50]:
r

array([ 6,  7,  8,  9,  9,  9, 10, 10, 10, 10, 11, 11, 11, 12, 13, 13, 13,
       14, 14, 15])

In [24]:
pd.DataFrame(pp,columns=['genes'])

                   genes
0   01100001011101110101
1   11101000100000101011
2   10111011111111110100
3   01110111011101010100
4   10110011111101100110
5   10011001101001001101
6   00110010011111000010
7   10011011100111000100
8   00000011011011000111
9   11100010010010111010
10  01101011111010110110
11  11010111100111110011
12  10110110101100111011
13  11001001101100101101
14  00110110101011010100
15  00111001010100000001
16  00000100001101010111
17  00001011001010000010
18  10010001100111111001
19  01110110000111111111

In [95]:
fitness = []
for i in range(len(pop)):
    fitness.append(sp.Sphere(pop.genes[i]))

In [96]:
pop['fitness'] = fitness

In [65]:
p1 = '01001000110000010100'
p2 = '01011101010110001001'

In [35]:
pop.drop(['fitness'],axis=1)

                   genes
0   01100001011101110101
1   11101000100000101011
2   10111011111111110100
3   01110111011101010100
4   10110011111101100110
5   10011001101001001101
6   00110010011111000010
7   10011011100111000100
8   00000011011011000111
9   11100010010010111010
10  01101011111010110110
11  11010111100111110011
12  10110110101100111011
13  11001001101100101101
14  00110110101011010100
15  00111001010100000001
16  00000100001101010111
17  00001011001010000010
18  10010001100111111001
19  01110110000111111111

In [39]:
f = np.array(pop.genes[0])

In [41]:
f

array('01100001011101110101', dtype='<U20')

In [68]:
for i in range(10):
    first = round(np.random.rand()*(up-lb)+lb)    
    #second = first + round(np.random.rand()*(up-lb)/2+lb)
    chil1 = p1[:first]+p2[first:]
    chil2 = p2[:first]+p2[first:]
print(chil1,chil2)

01001001010110001001 01011101010110001001

In [17]:
type(pop.genes.iloc[0])

str

In [62]:
round(19/2*0.25)

2

In [75]:
int(not(bool(0)))

1

In [89]:
dd = list('12fhfhfhfh')

In [90]:
ff= ''
ff= ff.join(dd)

In [91]:
ff

'12fhfhfhfh'

In [220]:
pop.sort_values(['fitness'],inplace=True,ascending=False)
pop= pop.reset_index(drop=True)
print(pop)

                   genes  fitness
0   11101111011111100011       15
1   11101111001010011011       13
2   11010110111010101011       13
3   11001101111000011011       12
4   10101110011010100101       11
5   00101110110110101010       11
6   01110000111101000111       11
7   01101100100111010001       10
8   01110110001100011001       10
9   10001100000110111110       10
10  00100100001111110101       10
11  00101101001100001011        9
12  11100100000010101110        9
13  01100011001101101000        9
14  00000011011001011001        8
15  00110000100100110011        8
16  11000000110010001110        8
17  00101001101000000111        8
18  10100110011100000000        7
19  01010000010001000000        4

In [217]:
pop

                   genes  fitness
15  11101111011111100011       15
17  11010110111010101011       13
5   11101111001010011011       13
7   11001101111000011011       12
10  10101110011010100101       11
14  00101110110110101010       11
12  01110000111101000111       11
9   10001100000110111110       10
18  00100100001111110101       10
19  01110110001100011001       10
4   01101100100111010001       10
1   00101101001100001011        9
8   11100100000010101110        9
13  01100011001101101000        9
11  00000011011001011001        8
6   00110000100100110011        8
16  11000000110010001110        8
2   00101001101000000111        8
3   10100110011100000000        7
0   01010000010001000000        4

In [84]:
pop

                   genes  fitness
0   11000000001011001010        7
1   10000100100100110111        9
2   01001001000001011010        7
3   11011000011101011000       10
4   10100001000000010000        4
5   00001000000011000000        3
6   10011100111110110111       14
7   10011101011000110001       10
8   11011011010011110110       13
9   00101100101111001011       11
10  11011011001001101100       11
11  11100010010010110110       10
12  01000111000000101010        7
13  00000110101100001110        8
14  11011110010010110100       11
15  01000110010011001110        9
16  11100000111110101001       11
17  01111111110100110110       14
18  01110000000011100000        6
19  11011110100110111001       13

In [102]:
Er = 0.1

In [107]:
def ellist(pop,Er):
    print(pop)
    M = len(pop)
    Elit_no = int(round(M*Er))
    fitness1 = pop.fitness
   
    pop = pop.sort_values(['fitness'],ascending=False)
    
    sorted_idx= list(pop.index)    
    nom_fit = list(pop.fitness)
    
    newpopulation = np.array(pop.drop(['fitness'],axis=1))
    fitness = []
    for i in range(Elit_no+1):
        newpopulation[i] = pop.genes.iloc[sorted_idx[i]][:]
        fitness.append(nom_fit[i])
   
    for i in range(Elit_no+1,M):
        newpopulation[i] = pop.genes.iloc[i][:]
        fitness.append(pop.fitness.iloc[i])
    newpopulation = pd.DataFrame(newpopulation,columns=['genes'])
    newpopulation['fitness'] = fitness

    print(newpopulation)

In [108]:
ellist(pop,Er)

                   genes  fitness
0   10000011100000001101        7
1   10111101100011000111       12
2   00001110101001010001        8
3   01000111010110010001        9
4   11100011010001001101       10
5   10000001011000000100        5
6   00110111010111010011       12
7   00001110111111000110       11
8   10111000110010111101       12
9   00100100011111011011       11
10  01111011100100101101       12
11  01110000101011010110       10
12  01011000100101101001        9
13  01010001011111011110       12
14  11011111000100001100       10
15  01100100001111101000        9
16  00100011101010000011        8
17  00010010100111000000        6
18  11010100000000110101        8
19  00001101101001001101        9
                   genes  fitness
0   01011000100101101001       12
1   01000111010110010001       12
2   00100100011111011011       12
3   10111000110010111101       12
4   10111101100011000111       12
5   00001110111111000110       11
6   00100100011111011011       11
7   11011111000100001100       10
8   11100011010001001101       10
9   01110000101011010110       10
10  01011000100101101001        9
11  01100100001111101000        9
12  00001101101001001101        9
13  01000111010110010001        9
14  00001110101001010001        8
15  00100011101010000011        8
16  11010100000000110101        8
17  10000011100000001101        7
18  00010010100111000000        6
19  10000001011000000100        5

In [89]:
print(pop)

                   genes  fitness
17  01111111110100110110       14
6   10011100111110110111       14
19  11011110100110111001       13
8   11011011010011110110       13
16  11100000111110101001       11
14  11011110010010110100       11
9   00101100101111001011       11
10  11011011001001101100       11
7   10011101011000110001       10
11  11100010010010110110       10
3   11011000011101011000       10
1   10000100100100110111        9
15  01000110010011001110        9
13  00000110101100001110        8
12  01000111000000101010        7
2   01001001000001011010        7
0   11000000001011001010        7
18  01110000000011100000        6
4   10100001000000010000        4
5   00001000000011000000        3

In [97]:
 ww = pop.sort_values(['fitness'],ascending=False)

In [109]:
ww

                   genes  fitness
10  01111011100100101101       12
13  01010001011111011110       12
6   00110111010111010011       12
8   10111000110010111101       12
1   10111101100011000111       12
7   00001110111111000110       11
9   00100100011111011011       11
14  11011111000100001100       10
4   11100011010001001101       10
11  01110000101011010110       10
12  01011000100101101001        9
15  01100100001111101000        9
19  00001101101001001101        9
3   01000111010110010001        9
2   00001110101001010001        8
16  00100011101010000011        8
18  11010100000000110101        8
0   10000011100000001101        7
17  00010010100111000000        6
5   10000001011000000100        5

In [111]:
ww.fitness[0]

7